In [1]:
liked_books = ["6882","331567","8349198","4069","2547","14082","12346651"]

In [14]:
!head book_id_map.csv

'head' is not recognized as an internal or external command,
operable program or batch file.

In [8]:
import pandas as pd

In [ ]:
pd.read_csv("goodreads_interactions.csv").head()

In [4]:
csv_book_mapping = {}

with open("book_id_map.csv", "r") as f:
    while True:
        line = f.readline()
        if not line:
            break
        csv_id, book_id = line.strip().split(",")
        csv_book_mapping[csv_id] = book_id

In [11]:
csv_book_mapping['0']

'34684622'

In [12]:
overlap_users = set()

with open("goodreads_interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")
        
        if user_id in overlap_users:
            continue

        try:
            rating = int(rating)
        except ValueError:
            continue
        
        book_id = csv_book_mapping[csv_id]
        
        if book_id in liked_books and rating >= 4:
                overlap_users.add(user_id)

In [19]:
rec_lines = []

with open("goodreads_interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")
        
        if user_id in overlap_users:
            book_id = csv_book_mapping[csv_id]
            rec_lines.append([user_id, book_id, rating])

In [9]:
# ------------------------brEAK

In [20]:
import pandas as pd

recs = pd.DataFrame(rec_lines, columns=["user_id", "book_id", "rating"])
recs["book_id"] = recs["book_id"].astype(str)

In [21]:
recs

         user_id   book_id rating
0              0        12      5
1              0        21      5
2              0        30      5
3              0        45      5
4              0         1      5
...          ...       ...    ...
11060069  876132    149280      0
11060070  876132  17879811      0
11060071  876132  16104434      0
11060072  876132    934051      0
11060073  876132   8099854      1

[11060074 rows x 3 columns]

In [22]:
top_recs = recs["book_id"].value_counts().head(10)

In [23]:
top_recs = top_recs.index.values

In [24]:
books_titles = pd.read_json("books_titles.json")
books_titles["book_id"] = books_titles["book_id"].astype(str)

In [25]:
books_titles.head()

,book_id,title,ratings,url,cover_image,mod_title
0,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",140,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,the unschooled wizard sun wolf and starhawk 12
1,6066819,Best Friends Forever,51184,https://www.goodreads.com/book/show/6066819-be...,https://s.gr-assets.com/assets/nophoto/book/11...,best friends forever
2,287141,The Aeneid for Boys and Girls,46,https://www.goodreads.com/book/show/287141.The...,https://s.gr-assets.com/assets/nophoto/book/11...,the aeneid for boys and girls
3,6066812,All's Fairy in Love and War (Avalon: Web of Ma...,98,https://www.goodreads.com/book/show/6066812-al...,https://images.gr-assets.com/books/1316637798m...,alls fairy in love and war avalon web of magic 8
4,287149,The Devil's Notebook,986,https://www.goodreads.com/book/show/287149.The...,https://images.gr-assets.com/books/1328768789m...,the devils notebook

In [26]:
books_titles[books_titles["book_id"].isin(top_recs)]

,book_id,title,ratings,url,cover_image,mod_title
401395,5107,The Catcher in the Rye,2086945,https://www.goodreads.com/book/show/5107.The_C...,https://images.gr-assets.com/books/1398034300m...,the catcher in the rye
463463,4671,The Great Gatsby,2758812,https://www.goodreads.com/book/show/4671.The_G...,https://images.gr-assets.com/books/1490528560m...,the great gatsby
487026,2547,The Prophet,145579,https://www.goodreads.com/book/show/2547.The_P...,https://images.gr-assets.com/books/1355046521m...,the prophet
615314,5470,1984,2023937,https://www.goodreads.com/book/show/5470.1984,https://images.gr-assets.com/books/1348990566m...,1984
770177,7613,Animal Farm,1928931,https://www.goodreads.com/book/show/7613.Anima...,https://images.gr-assets.com/books/1424037542m...,animal farm
790927,2657,To Kill a Mockingbird,3255518,https://www.goodreads.com/book/show/2657.To_Ki...,https://images.gr-assets.com/books/1361975680m...,to kill a mockingbird
876816,865,The Alchemist,1342863,https://www.goodreads.com/book/show/865.The_Al...,https://images.gr-assets.com/books/1483412266m...,the alchemist
878545,3,Harry Potter and the Sorcerer's Stone (Harry P...,4765497,https://www.goodreads.com/book/show/3.Harry_Po...,https://images.gr-assets.com/books/1474154022m...,harry potter and the sorcerers stone harry pot...
1258258,48855,The Diary of a Young Girl,2028299,https://www.goodreads.com/book/show/48855.The_...,https://images.gr-assets.com/books/1358276407m...,the diary of a young girl
1280001,4069,Man's Search for Meaning,179906,https://www.goodreads.com/book/show/4069.Man_s...,https://images.gr-assets.com/books/1467136625m...,mans search for meaning

In [27]:
all_recs = recs["book_id"].value_counts()

In [28]:
all_recs = all_recs.to_frame().reset_index()
all_recs.columns = ["book_id", "book_count"]

In [29]:
all_recs.head(5)

  book_id  book_count
0    2657       12623
1    5470       12067
2    4069       11800
3     865       11782
4    4671       11195

In [30]:
all_recs = all_recs.merge(books_titles, how="inner", on="book_id")

In [31]:
all_recs["score"] = all_recs["book_count"] * (all_recs["book_count"] / all_recs["ratings"])

In [32]:
all_recs.sort_values("score", ascending=False).head(10)

,book_id,book_count,title,ratings,url,cover_image,mod_title,score
7,2547,10703,The Prophet,145579,https://www.goodreads.com/book/show/2547.The_P...,https://images.gr-assets.com/books/1355046521m...,the prophet,786.886907
2,4069,11800,Man's Search for Meaning,179906,https://www.goodreads.com/book/show/4069.Man_s...,https://images.gr-assets.com/books/1467136625m...,mans search for meaning,773.959735
228,6882,2804,Papillon,39620,https://www.goodreads.com/book/show/6882.Papillon,https://images.gr-assets.com/books/1327865561m...,papillon,198.445634
12300,16156392,115,The Dust in Sunlight,69,https://www.goodreads.com/book/show/16156392-t...,https://images.gr-assets.com/books/1353247047m...,the dust in sunlight,191.666667
311,304079,2248,The Essential Rumi,26829,https://www.goodreads.com/book/show/304079.The...,https://images.gr-assets.com/books/1391414844m...,the essential rumi,188.359760
18109,8514123,81,All the Talk Is Dead,35,https://www.goodreads.com/book/show/8514123-al...,https://s.gr-assets.com/assets/nophoto/book/11...,all the talk is dead,187.457143
635,14082,1382,Malgudi Days,11777,https://www.goodreads.com/book/show/14082.Malg...,https://images.gr-assets.com/books/1455574981m...,malgudi days,162.174068
18217,9624993,80,"The Mirror and the Light (Thomas Cromwell, #3)",40,https://www.goodreads.com/book/show/9624993-th...,https://s.gr-assets.com/assets/nophoto/book/11...,the mirror and the light thomas cromwell 3,160.000000
1620,26530322,652,Are We Smart Enough to Know How Smart Animals ...,2685,https://www.goodreads.com/book/show/26530322-a...,https://images.gr-assets.com/books/1448044158m...,are we smart enough to know how smart animals are,158.325512
11900,28170940,118,"Lethal White (Cormoran Strike, #4)",106,https://www.goodreads.com/book/show/28170940-l...,https://s.gr-assets.com/assets/nophoto/book/11...,lethal white cormoran strike 4,131.358491

In [33]:
all_recs[all_recs["book_count"] > 200].sort_values("score", ascending=False).head(10)

,book_id,book_count,title,ratings,url,cover_image,mod_title,score
7,2547,10703,The Prophet,145579,https://www.goodreads.com/book/show/2547.The_P...,https://images.gr-assets.com/books/1355046521m...,the prophet,786.886907
2,4069,11800,Man's Search for Meaning,179906,https://www.goodreads.com/book/show/4069.Man_s...,https://images.gr-assets.com/books/1467136625m...,mans search for meaning,773.959735
228,6882,2804,Papillon,39620,https://www.goodreads.com/book/show/6882.Papillon,https://images.gr-assets.com/books/1327865561m...,papillon,198.445634
311,304079,2248,The Essential Rumi,26829,https://www.goodreads.com/book/show/304079.The...,https://images.gr-assets.com/books/1391414844m...,the essential rumi,188.359760
635,14082,1382,Malgudi Days,11777,https://www.goodreads.com/book/show/14082.Malg...,https://images.gr-assets.com/books/1455574981m...,malgudi days,162.174068
1620,26530322,652,Are We Smart Enough to Know How Smart Animals ...,2685,https://www.goodreads.com/book/show/26530322-a...,https://images.gr-assets.com/books/1448044158m...,are we smart enough to know how smart animals are,158.325512
1203,72910,830,The Gift,5668,https://www.goodreads.com/book/show/72910.The_...,https://s.gr-assets.com/assets/nophoto/book/11...,the gift,121.541990
2287,21032488,495,"Doors of Stone (The Kingkiller Chronicle, #3)",2059,https://www.goodreads.com/book/show/21032488-d...,https://s.gr-assets.com/assets/nophoto/book/11...,doors of stone the kingkiller chronicle 3,119.001943
34,52036,6643,Siddhartha,380353,https://www.goodreads.com/book/show/52036.Sidd...,https://images.gr-assets.com/books/1428715580m...,siddhartha,116.022350
894,27276428,1047,The Gene: An Intimate History,9874,https://www.goodreads.com/book/show/27276428-t...,https://images.gr-assets.com/books/1463591739m...,the gene an intimate history,111.019749

In [34]:
popular_recs = all_recs[all_recs["book_count"] > 200].sort_values("score", ascending=False)

In [35]:
def make_clickable(val):
    return '<a target="_blank" href="{}">Goodreads</a>'.format(val, val)

def show_image(val):
    return '<a href="{}"><img src="{}" width=50></img></a>'.format(val, val)


popular_recs[~popular_recs["book_id"].isin(liked_books)].head(10).style.format({'url': make_clickable, 'cover_image': show_image})